* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

li {
  list-style-type: none;
}
a {
  text-decoration-line: none;
  color: white;
  font-size: 1.5rem;
}

.heading {
  text-align: center;
}

.student {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 120px;
}

.btn-style {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
}
.link {
  color: blue;
  text-decoration-line: underline;
  font-size: 17px;
}

.input-container {
  width: 100%;
  height: 450px;
  border: 1px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 40%;
}

.btn-stu-con {
  width: 20%;
  display: block;
}

.btn-c-1 {
  width: 100%;
  font-size: 25px;
  background-color: blue;
  color: white;
  border-radius: 20px;
}

.btn-c-2 {
  width: 100%;
  font-size: 25px;
  border-radius: 20px;
  background-color: aliceblue;
}
